:root {
    --main-background: #131313;
    --main-font: #fffafa;
    --main-icon: #fffafa;
    --main-footer: #212121;
    --second-footer: #252525;
    --main-red: #c70039;
    --main-blue: #1f618d;
    --main-purple: #5b2c6f;
    --main-yellow: #ffc300;
}