@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:focus {
    outline: 1px solid var(--main-accent);
}

body {
    width: 100%;
    background: var(--main-background);
    color: var(--main-font)
}

h1 {
    font-size: 3.2em;
    padding-bottom: 2px;
    border-bottom: 4px solid var(--main-accent);
}

h2 {
    font-size: 2em;
    width: fit-content;
}

h2:after {
    content: "";
    display: block;
    width: 110%;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--main-accent);
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
    font-weight: 400;
}

p {
    font-size: 1.1em;
}

.content {
    width: 100%;
}

.main {
    margin-top: 4vh;
    margin-bottom: 10vh;
}

.header {

}

.footer {
    width: 100%;
    border-top: 1px solid var(--second-footer);
    background: var(--main-footer);
    position: fixed;
    bottom: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.text {
    padding-bottom: 10px;
}

.right {
    text-align: right;
}

.icons {
    color: var(--main-icon);
}

.icons:hover {
    color: var(--main-accent);
}

.about {
    margin-left: 1em;
}

.about a {
    color: var(--main-font);
    text-decoration: none;
}

.about a:hover {
    color: var(--main-accent);
}

.pure-g [class *= "pure-u"] {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.pure-g [class *= "pure-u"] h1, h2, h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.pure-menu-link {
    color: var(--main-font);
}

.pure-menu-link:hover {
    background: var(--main-accent);
    color: var(--main-background);
}

.pure-menu-link:hover .icons {
    color: var(--main-background);
}

.pure-menu-link:focus {
    border: 0 !important;
    background: var(--main-accent);
    color: var(--main-background);
}

.pure-menu-link:focus .icons {
    color: var(--main-background);
}

.project-card {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-accent);
}

.project-image {
    width: 90%;
    margin-top: 1vh;
}

.image {
    border: 2px solid var(--main-accent);
    width: 99%;
}